{% if params %}
class {{ params_class_name }}(Params):
    {% for param in params %}
    {{ param | indent(4) }}
    {% endfor %}


{% endif %}
{% for output_cls in outputs %}
{{ output_cls }}
{% endfor %}


@app.action(
    description="{{ meta.description }}",
    action_type="{{ meta.type }}",
    {% if not meta.read_only %}
    read_only={{ meta.read_only }},
    {% endif %}
    {% if meta.verbose %}
    verbose="{{ meta.verbose | replace("\"", "\\\"") }}",
    {% endif %}
)
def {{ meta.identifier }}(
    soar: SOARClient, asset: Asset,{% if params %} params: {{ params_class_name }},{% endif %}

) -> {% if outputs %}{{ outputs_class_name }}{% else %}ActionOutput{% endif %}:
    raise NotImplementedError()
