class Asset(BaseAsset):
    {% for field in asset_fields %}
    {{ field.name }}: {{ field.py_type }} = AssetField(
        {% if field.description %}
        description="{{ field.description }}",
        {% endif %}
        {% if not field.required %}
        required=False,
        {% endif %}
        {% if field.default %}
        default={% if field.is_str %}"{% endif %}{{ field.default }}{% if field.is_str %}"{% endif %},
        {% endif %}
        {% if field.value_list %}
        value_list={{ field.value_list }},
        {% endif %}
        {% if field.data_type == "password" %}
        sensitive=True,
        {% endif %}
    )
    {% endfor %}
